[submodule "recipe"]
	path = recipe
	url = https://github.com/verl-project/verl-recipe.git
[submodule "agent_recipe/langgraph_mt_agent/MT-tools"]
	path = agent_recipe/langgraph_mt_agent/MT-tools
	url = https://github.com/DoubleVII/MT-tools.git
	branch = main
[submodule "agent_recipe/langgraph_mt_agent/MT_tools"]
	path = agent_recipe/langgraph_mt_agent/MT_tools
	url = https://github.com/DoubleVII/MT-tools.git
	branch = main
